<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="btn-toolbar justify-content-between">
        <span class="h3">Listado de empleados</span>
        <!-- boton con redireccion -->
        <button
          type="button"
          class="btn btn-dark btn-lg "
          routerLink="/crear-empleado"
        >
          Agregar
        </button>
      </div>
      <table *ngIf="empleados.length > 0" class="table mt-3 table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Dni</th>
            <th scope="col">Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.dni}}</td>
            <!-- currency para mostrar salario con $ -->
            <td>{{empleado.salario | currency}}</td>
            <div>
              <td><i class="bi bi-pencil-square text-info me-5"></i></td>
              <!-- Con evento click llamo al metodo empleado 
                al cual por parametro le meto el id -->
              <td><i (click)="eliminarEmpleado(empleado.id)" class="bi bi-trash3 text-danger"></i></td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
