<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <div class="btn-toolbar justify-content-between">
          <span class="h3">Listado de empleados</span>
  
          <button type="button" class="btn btn-dark ">
            Agregar
          </button>
        </div>
        <table class="table mt-5 table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Dni</th>
              <th scope="col">Salario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Agustin</td>
              <td>Mark</td>
              <td>40123405</td>
              <td>30000</td>
              <td><i class="bi bi-pencil-square text-info"></i></td>
              <td><i class="bi bi-trash3 text-danger"></i> </td>
            </tr>
            <tr>
              <td>Agustin</td>
              <td>Mark</td>
              <td>40123405</td>
              <td>30000</td>
              <td><i class="bi bi-pencil-square text-info"></i></td>
              <td><i class="bi bi-trash3 text-danger"></i> </td>
            </tr>
            <tr>
              <td>Agustin</td>
              <td>Mark</td>
              <td>40123405</td>
              <td>30000</td>
              <td><i class="bi bi-pencil-square text-info"></i></td>
              <td><i class="bi bi-trash3 text-danger"></i> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

